*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    /* background-color: blue; */
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carrusel{
    /* background-color: brown; */
    height: 50%;
    width: 90%;
    border: 1px solid black;
}
.resultados{
    /* background-color: burlywood; */
    height: 30%;
    width: 90%;
    border: 1px solid black;
    margin-top: 3%;
}
.temporizador{
    /* background-color: yellow; */
    width: 90%;
    height: 7%;
    border: 1px solid black;
}
